<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-back-button></ion-back-button>
     <!-- <ion-button>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>-->
    </ion-buttons>
    <ion-title>Mostrar Usuário</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<h1>{{nome}} </h1>
{{usuario}} 
{{nivel}}



</ion-content>
